<<link href="Scripts/Components/ChannelVote/channel-vote.style.css" rel="stylesheet" />
<div class="post-vote-wrapper">
    <button type="button"
            class="btn btn-default"
            ng-click="scope.vote(true)">
        <span class="glyphicon glyphicon-thumbs-up"></span> {{scope.channel.upvotes}}
    </button>
    <button type="button"
            class="btn btn-default"
            ng-click="scope.vote(false)">
        <span class="glyphicon glyphicon-thumbs-down"></span> {{scope.channel.downvotes}}
    </button>
</div>