
<div class="col-md-4">
    <form ng-submit="addChannel()">
        <fieldset>
            <legend>Add channel</legend>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text"
                       id="name"
                       class="form-control"
                       placeholder="Name..."
                       ng-model="newChannel.name" />
            </div>
            <!--<success-button ng-model="clicked"></success-button>-->
            <button type="submit"
                    class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> Create channel
            </button>
        </fieldset>
    </form>
</div>
<div class="col-md-12">
    <div ng-repeat="channel in models.channels track by $index">
        <h3 ng-bind="channel.name"></h3>
        <h3 ng-bidn="channel.created"></h3>
        <button type="button"
                class="btn btn-danger"
                ng-click="deleteChannel(channel)">
            <span class="glyphicon glyphicon-remove"></span> Delete channel
        </button>
        <button>
            <subscribe-button ng-model="channel.subscribed"
                              ng-click="subscribe(channel.id)">
            </subscribe-button>
        </button>
    </div>
</div>